
.about {
    text-align: center;}
.chome{align-content: center;}
.rowpad {padding: 1.5%}

/* footer css */
.parent{
    margin-top: 100px;
}
.child1{
    padding-top: .5%;
    padding-bottom: .5%;
    padding-left: .5%;
    padding-right: .5%;}
.parent{margin-top:100px;
}
.child{height: 200px;
    padding: 10%;
    background-color: #17a2b8;  
}

/* header css */
.header {background-color: #17a2b8;
        padding-top: 15px;
        padding-bottom: 15px;
        font-family:'Rubik', sans-serif;
        text-align: center;
        color: white;
}

#names {font-family: "Rubik";
    
}
.body {
    background: grey;
}

.jumbotron {
    margin: 0px;
}
/* Jenna css */
.pics {
    margin:0;
    padding:0;
}
#title{
    padding-left:5%;
}
#foot{
    padding-top:5%;
}
.aboutme{
    margin-left:15%;
    margin-right:15%;
}
.view{
    display:block;
    margin:auto;
    margin-top:3%;
}







/* Amber's CSS */
#myCarousel {
    padding-bottom: 5%;
    padding-top: 3%;
}
#mediadesign {
    padding-left: 9%;
}

.img-fluid1 {
    padding: 2%;
      display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.para {
    padding-left: 1.5%;
}

.fa {
    padding: 50%;
}

.strong {
    align-content: center;
}