
.about {
    text-align: center;
    
    
}

#csisds{background-color: lightpink;
    color: floralwhite;
    border-color: floralwhite;
    border-style: solid;}
#aboutds{background-color: lightpink;
    color: floralwhite;
    border-color: floralwhite;
    border-style: solid;}
#worksds{background-color: lightpink;
    color: floralwhite;
    border-color: floralwhite;
    border-style: solid;}
#english{background-color: lightpink;
    color: floralwhite;
    border-color: floralwhite;
    border-style: solid;}
#cannotDisplay{border-style: solid;
    color: floralwhite;
    border-color: floralwhite;
    border-style: solid;
    height: 712px;
    width: 1068px;}
#dimension{
    max-height:inherit ;
    max-width:inherit ;
}