#csisds{background-color: lightpink;
    color: floralwhite;
    border-color: floralwhite;
    border-style: solid;}
#aboutds{background-color: lightpink;
    color: floralwhite;
    border-color: floralwhite;
    border-style: solid;}
#worksds{background-color: lightpink;
    color: floralwhite;
    border-color: floralwhite;
    border-style: solid;}
#english{background-color: lightpink;
    color: floralwhite;
    border-color: floralwhite;
    border-style: solid;}