
.about {
    text-align: center;}
#csisds{background-color: lightpink;
    color: floralwhite;
    border-color: floralwhite;
    border-style: solid;}
#aboutds{background-color: lightpink;
    color: floralwhite;
    border-color: floralwhite;
    border-style: solid;}
#worksds{background-color: lightpink;
    color: floralwhite;
    border-color: floralwhite;
    border-style: solid;}
#english{background-color: lightpink;
    color: floralwhite;
    border-color: floralwhite;
    border-style: solid;}
.container{align-content: center;}
/* footer css */
.parent{
    margin-top: 100px;
}
.child1{
    height: 200px;
    text-align: left;
    
    
}
.northwest{
    padding: 1%;
}